<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="simple.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="alternate" type="application/atom+xml" href="{{ feed.link }}" />
    <title>{{ feed.title }}</title>
  </head>
  <body>
    {% if links.index_page.href|length %}
      <h1><a href="{{ links.index_page.href }}">{{ feed.title }}</a></h1>
    {% else %}
      <h1>{{ feed.title }}</h1>
    {% endif %}
    <div class="text-right small">
      <span>Author: {{ feed.author_name }}</span>
      <br />
      <span>Updated at: {{ feed.updated }}</span>
    </div>

    <div class="MsgList">
      {% for item in entries %}
      <div class="FeedEntry">
        <span class="EntryTitle">
          [{{ item.entry_id }}]
          <span title="{{ item.published }}">{{ item.published[0:10] }}</span>
        </span>
        <br />
        <span class="EntryContent">{{ item.content }}</span>
      </div>
      {% endfor %}
    </div>

    {% if entries|length is gt 5 and links.footer.name|length %}
    <footer>
      <a href="{{ links.footer.href }}">{{ links.footer.name }}</a>
    </footer>
    {% endif %}

    {# a comment #}
  </body>
</html>
