<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="simple.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="alternate" type="application/atom+xml" title="{{ feed.title }}" href="{{ feed.feed_link }}" />
    <title>{{ feed.title }}</title>
  </head>
  <body>
    {% if links.prev_page.href|length %}
    <h1><a href="{{ links.index_page.href }}">{{ feed.title }}</a></h1>
    <div class="FeedInfo">
      <span>Author: {{ feed.author_name }}</span>
    </div>
    {% else %}
    <h1><a href="{{ feed.website }}">{{ feed.title }}</a></h1>
    <div class="FeedInfo">
      <span>Author: {{ feed.author_name }}</span>
      <br />
      <span>Updated at: {{ feed.updated[:10] }}</span>
    </div>
    {% endif %}

    <div class="MsgList">
      {% for item in entries|reverse %}
      <div class="FeedEntry">
        <span class="EntryTitle">
          [{{ item.entry_id }}]
          <span title="{{ item.published }}">{{ item.published[0:10] }}</span>
        </span>
        <br />
        <span class="EntryContent">{{ item.content }}</span>
      </div>
      {% endfor %}
    </div>

    <div class="NavButtons">
    {% if links.prev_page.href|length %}
      <a href="{{ links.prev_page.href }}">&lt;&lt; {{ links.prev_page.name }}</a>
      <a href="{{ links.index_page.href }}">〇</a>
    {% endif %}
    {% if links.next_page.href|length %}
      <a href="{{ links.next_page.href }}">{{links.next_page.name }} &gt;&gt;</a>
    {% elif links.next_page.name|length %}
      <a style="color: gray;">{{ links.next_page.name }} &gt;&gt;</a>
    {% endif %}
    </div>

    {% if entries|length is gt 3 %}
    <footer>
    {% if links.footer.name|length %}
      <a href="{{ links.footer.href }}">{{ links.footer.name }}</a>
    {% endif %}
      <p>RSS: <a href="{{feed.feed_link}}">{{feed.feed_link}}</a></p>
    </footer>
    {% endif %}

    {# a comment #}
  </body>
</html>
