a {
  text-decoration: none;
}

.small {
  font-size: small;
}
.text-center {
  text-align: center;
}

.FeedInfo {
  text-align: right;
  font-size: small;
  margin-bottom: 1.5rem;
}

.FeedEntry {
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  /* word-break: break-all; */
}

.EntryTitle {
  color: gray;
  font-size: small;
}

.NavButtons {
  margin-top: 1.5rem;
  text-align: center;
}

.NavButtons a + a{
  margin-left: 1rem;
}

footer {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ccc;
}