.small {
  font-size: small;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.FeedEntry {
  margin-bottom: 1.5rem;
}

.EntryTitle {
  color: gray;
  font-size: small;
}

.NavButtons {
  text-align: center;
}

footer {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ccc;
}